*{
	margin: 0px;
	padding:0px;
}

body{
	background-color: #eee;
}

.row{
	margin: 0px;
	padding: 0px;
}
.post-content{
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px #999;
	border-radius: 1px;
	padding: 10px;
}

.admin-form{
	background-color: #FFF;
	padding: 0px;
	margin: 0px;
	box-shadow: 0px 0px 1px 0px #888;
}
.admin-form-title{
	text-align: center;
	padding: 15px;
	font-size: 25px;
	background-color: #4682b4;
	color: #FFF;
	box-shadow: 0px 0px 1px 0px #888;
}

.admin-form-body{
	padding: 15px;
}
.admin-form-body .form-control{
	border-radius: 0px;
	padding: 25px 10px 25px 10px;
}

#menu-principal{
	background-color: #273c51;
	margin: 0px;
	padding: 0px;
}
#menu-principal .title{
	background-color: #457b97;
	padding: 10px;
}

#menu-principal .title a{
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
}
#menu-principal ul{
	list-style: none;
}
#menu-principal ul a{
	text-decoration: none;
}
#menu-principal .sub{
	background-color: #182438;
	box-shadow: 0px 0px 1px 0px #555;
	padding: 5px;
}
#menu-principal .sub a{
	color: #999;
}
#menu-principal .sub a::before{
	content: "\00BB";
	padding: 5px;
}
#menu-principal .menu{
	background-color: #457b97;
	box-shadow: 0px 0px 1px 0px #888;
	padding: 5px;
}
#menu-principal .menu a{
	color: #FFF;
}
#menu-principal .menu:hover{
	background-color: #1e90ff;
}

#form-publicar{
	background-color: #FFF;
	padding: 5px;
}

#form-publicar .form-control{
	border-radius: 15px;
}

@media(min-width:992px){
	.content{
		margin-rigth: 15%;
	}
}

@media(max-width:992px){
	form{
		padding: 0px;
		margin-top: 10px;
	}
}
